package ${packageName}.${module}.vo;

import lombok.Data;

#if($hasDate)
import java.util.Date;
#end

@Data
public class ${ClassName} {

    #foreach($metaColumn in $columns)
    /**
     * $metaColumn.comment
     */
    private $metaColumn.type $metaColumn.attributeName;
    #end
}
